# Node
node_modules
npm-debug.log*
pnpm-debug.log*
yarn*.log

# Python
__pycache__/
*.pyc
.venv/
.env

# Build outputs
dist
.build
.cache

# Local env
frontend/.env
backend/.env

# Data
backend/data/*.json
!backend/data/.gitkeep
